@charset "utf-8";

table{
  width: 100%;
  border-top: 1px solid #dbdbdb;
}

tr{
  width: 100px;
  height: 70px;
  text-align: left;
  vertical-align: middle;
}

th,td{
  border-bottom: 1px solid #dbdbdb;
}

th{
  width: 20%;
  min-width: 88px;
  background-color: #f8f8f8;
  padding-left: 50px;
}

th span{
  color: #00b795;
}

td{
  padding-left: 40px;
}

input{
  height: 40px;
  border: 1px solid #e8e8e8;
  vertical-align: middle;
}

select{
  height: 30px;
  border: 1px solid #e8e8e8;
  padding-right: 20px;
}

textarea{
  border: 1px solid #e8e8e8;
  width: 90%;
  min-width: 200px;
  height: 300px;
  margin: 20px 0;
  resize: vertical;
}

input[type='radio']{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  outline: none;
}

input[type='radio']:before{
  content: '';
  display: block;
  width: 70%;
  height: 70%;
  margin: 15% auto;  
  border-radius: 100%;  
}

input[type='radio']:checked:before{
  background: #00b795;
}

input[type='radio']:checked{
  border: 1px solid #00b795;
}

#name{
  width: 40%;
  min-width: 180px;
}

#phone{
  width: 15%;
  min-width: 100px;
}

#email{
  width: 20%;
  min-width: 130px;
}

#title{
  width: 90%;
  min-width: 200px;
}

#female,#disagree{
  margin-left: 15px;
}

.info{
  padding: 15px 0;
}

.info .box{
  padding: 15px 0;
}

.info .box p:nth-of-type(1){
  color: #777777;
}
.info p{
  color: #aaaaaa;
}

.agree{
  color: #aaaaaa;
}

tr:last-child td{
  padding-bottom: 30px;
}

button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 180px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color: #00b795;
  border: 0px solid #000;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  th, td{
    padding-left: 15px;
  }

  input{
    margin: 5px 0;
  }

  #e-option{
    margin-bottom: 8px;
  }

  button{
    width: 120px;
    height: 50px;
    font-size: 15px;
    margin-top: 35px;
  }
}